{% include "Master_pendaftaran/style_atas.html" %}
<section id="breadcrumbs" class="breadcrumbs" style="background-color: #008080;">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Pendaftara Pesertan Didik Baru (PPDB)</h2>
          <ol>
            <li><a href="{% url 'Website' %}">Home</a></li>
            <li>Pendaftaran Peserta (PPDB)</li>
          </ol>
        </div>

      </div>
    </section>
 <section id="contact" class="contact" >
    <div id="pricing1" class="pricing1">
      <div class="container" data-aos="fade-up">
        <div class="row">
        	<div class="col-lg-1"></div>
          <div class="col-lg-6 d-flex align-items-stretch info-wrap " data-aos="zoom-in" data-aos-delay="100">

            <form method="post">
            	{% csrf_token %}
              <h4><i class="ri-bar-chart-box-line" style="color: #5578ff;"></i> Pendaftaran Baru</h4>
              <div class="form-group mt-3">
              	<label>Nomor KTP</label>
                <input type="text" class="form-control" name="no_ktp" id="subject" placeholder="Nomor KTP"  maxlength="16" style="width: 500px">
                <label>Nama Lengkap</label>
                <input type="text" class="form-control" name="nama_lengkap" id="subject" placeholder="Nama Lengkap" >
                <label>Alamat Lengkap</label>
                <input type="text" class="form-control" name="alamat" id="subject" placeholder="Alamat Lengkap" >
                <label>Jenis Kelamin</label>
                <select class="form-control"  name="jk">
                	<option value="">Select Jenis Kelamin</option>
                	<option>Laki-Laki</option>
                	<option>Perempuan</option>
                </select>
                <label>Nomor HP</label>
                <input type="text" class="form-control" name="nohp" id="subject" placeholder="Nomor Hp"  maxlength="12">

                <label>Username</label>
                <input type="text" class="form-control" name="username" id="subject" placeholder="Username" >
                <label>Password</label>
                <input type="text" class="form-control" name="password" id="subject" placeholder="Password" >
              </div>

              <hr>
               <div class="btn-wrap">
                <button type="submit" class="btn-buy">Daftar Peserta Baru</button>
              </div>
            </form>
            </div>          
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <img src="/static/icon/ppdb.jpg" style="width: 80%">
          </div>
          </div>
      </div>
  </div>
</section>
{% include "Master_pendaftaran/style_bawah.html" %}
