{% include "Master_pendaftaran/style_atas.html" %}
 <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('/static/icon/a.jpg');">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2> <span>SMK INSAN TERPADU</span></h2>
              <p>Siap Mencetak Lulusan Berkarakter Al-qur'an dan Berjiwa Entrepreneur.</p>
              <!--<div class="text-center"><a href="" class="btn-get-started">Read More</a></div>-->
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url('/static/icon/b.jpg');">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Visi</h2>
              <p>"Menjadikan SMK Unggul yang menghasilkan insan beriman dan bertaqwa, kreatif, terampil, mampu berwirausaha, berdaya saing tinggi, professional, dan mampu menghadapi era global di zamannya."</p>
              <!--<div class="text-center"><a href="" class="btn-get-started">Read More</a></div>-->
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url('/static/icon/c.jpg');">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Misi</h2>
              <p>Mewujudkan tamatan yang beriman dan bertaqwa, berbudi pekerti luhur, cerdas, dan memiliki kompetensi sesuai dengan bidang keahliannya.Mengembangkan kurikulum, metodologi pembelajaran dan sistem penilaian berbasis kompetensi sesual dengan kebutuhan Industri global.Meningkatkan kualitas dan kuantitas pendidik dan tenaga kependidikan yang memenuhi kualifikasi dan professional, sertifikasi kompetensi, kreatif, inovatif, berkarakter dan berbudaya.Membekali kemampuan dan keterampilan peserta didik dengan pelayanan prima agar menjadi manusia berkeperibadian, berbudaya, mempunyai keterampilan hidup (Life Skill), tangguh, dan professional yang mampu beradaptasi serta mandiri di lingkungannya.Meningkatkan fasilitas dan lingkungan belajar yang aman, nyaman, memenuhi standar nasional pendidikan, standar kerja Industry secara kualitas dan kuantitas.Membangun kemitraan (link and match) dengan lembaga yang relevan dalam dan luar negeri Menciptakan lulusan yang mampu berwirausaha</p>
              <!--<div class="text-center"><a href="" class="btn-get-started">Read More</a></div>-->
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
{% include "Master_pendaftaran/style_bawah.html" %}