{% include "Master_ppdb/head_atas.html" %}
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-12 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  
                  <div class="count" style="font-size: 20px; color: #366396;" align="center">
                   MANAJEMEN PENERIMAAN PESERTA DIDIK BARU (PPDB)<br>
                   <img src="/static/icon/logo smk.png" style="width: 20%"><br>
                    <small>Kec.Paiton, Kab.Probolinggo</small><br><br>
                    
                </div>
                  
                </div>
                
              </div>
              

            </div>




                  </div>
                </div>
  </div>
</div>
</div></div></div>
            
        
{% include "Master_ppdb/head_bawah.html" %}